# Java / IntelliJ IDEA specific files
*.iml
.idea/
out/
*.wav*.class

# JavaFx
*.jar

# Other Java-related files
*.class
*.log
*.swp
*.hprof


*.DS_Store
savedGame.json

workspace.xml

checkstyle.xml

